@use "partials/variables.scss" as *;
@use "partials/header.scss" as *;
@use "partials/common.scss" as *;
@import "~bootstrap/scss/bootstrap";

.cur-series{
    position: absolute;
    top: -25px;
}

#section-3{
    font-size: 14px;
    i{
        font-size: 43px;
    }
}

figure{
    width: 200px;
    height: 200px;
    overflow: hidden;
    img{
        width: 100%;
        object-fit: cover;
    }
}

#section-2{
    background-color: #1C1C1C;
}
